{% extends 'base.html' %}

{% block head %}
<title>Not Found</title>
{% endblock %}

{% block body %}

<div class="container container-fluid" style="width: 50%; margin: auto;">
    <img src="static/images/other/not_found.svg" alt="" class="card-img-top">
    <h3 class="container text-center">
        <span class="badge bg-warning text-dark">Whoops!</span>
    </h3>
    <h5 class="text-center">We couldn't find the recommendation for the Product. Did you type it correctly?</h5>
</div>

{% endblock %}