{% extends 'base.html' %}

{% block head %}
<title>{{user}}'s Profile</title>
{% endblock %}

{% block body %}
<div class="p-3"></div>

<div style="width: 70%; margin: auto;">
    <div class="col">
        <div class="card h-100">
            {% if user %}
            <!-- {% if user == 'Spider Man' %}
            <img src="static/images/user/spider-man.svg" height="300px" width="300px" class="card-img-top p-4"
                alt="...">
            {% endif %} -->
            {% if user == 'prateek' %}
            <img src="static/images/user/prateek.jpg" class="card-img-top m-auto w-50 p-2" alt="...">
            {% endif %}
            {% if user == 'aadarsh' %}
            <img src="static/images/user/aadarsh.jpg" class="card-img-top m-auto w-50 p-2" alt="...">
            {% endif %}
            {% if user == 'guest_user' %}
            <img src="static/images/user/guest.jpg" class="card-img-top m-auto w-50 p-2" alt="...">
            {% endif %}
            {% endif %}
            <div class="card-body m-auto">
                <h1 style="text-align: center; font-family:'Comic Sans MS';" class="card-title">{{ user }}</h1>
            </div>
            <div class="card-body m-auto">
                <h6 style="text-align: center; font-family:'Comic Sans MS';" class="card-title"><strong>Last Login Time:</strong> {{ login_time }}</h6>
            </div>
            <h4 class="text-center">Search History: </h4>
            <div class="list-group overflow-auto" style="height: 200px; width: 90%; margin: auto;">
                {% if last_search[-1] %}
                <a class="list-group-item list-group-item-action">
                    <span class="badge m-100 w-100 bg-danger"><h6>Most Recent</h6></span>
                    <div></div>
                    {{ last_search[-1] }}
                </a>
                {% endif %}
                {% if last_search[-1]==null %}
                <h2 class="text-center list-group-item list-group-item-action">
                    <span class="badge bg-danger">Please Search Atleast one product</span>
                </h2>
                {% endif %}
                {% for i in range(2,30) %}
                {% if last_search[-i] %}
                <a class="list-group-item list-group-item-action">{{ last_search[-i] }}</a>
                {% endif %}
                {% endfor %}
            </div>
            <div class="p-3"></div>
        </div>
    </div>
</div>
<div class="p-3"></div>
<div class="p-3"></div>
<div class="p-3"></div>
<div class="p-3"></div>


<!-- <div class="p-4"></div> -->
{% endblock %}